@font-face {
    font-family: Spartan;
    src: url("https://fonts.google.com/specimen/Spartan");
  }

body{
    width: 95%;
    margin: auto;
    background-image: url("/bg-pattern-top-mobile.svg"), url("/bg-pattern-bottom-mobile.svg");
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.copyWriteUp{
    text-align: center;
}
.h1WriteUp {
    color: purple;
    font: 2em sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 750;
}

.pWriteUp{
    width: 80%;
    margin: auto;
    font-weight: 500;
    font-size: 1.05em;
}

.review1,
.review2,
.review3 {
    border: lightgray 1px solid;
    padding-top: 15px;
    padding-bottom: 5px;
    background: hsl(300, 24%, 96%);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
}

.starReview{
    margin-top: 5px;
}

.review3{
    margin-bottom: 50px;
}
.longReview1{
    border: 1px solid hsl(300, 43%, 22%);
    margin-bottom: 15px;
    background: hsl(300, 43%, 22%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: 35% 65%;
    
}

.reviewImg{
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 50px;
    height: 60%;
    margin-top: 25%;
    margin-left: 25%;
}

.top {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 5%;
}

.longReview{
    grid-row: 2/3;
    grid-column: 1/3;
    padding: 10px;
    margin:10px;
    color: white;
    font-family: Spartan;
    font-size: 15px;
    font-weight: 400;
    
}

.titleName{
    color: white;
    font-size: 15px;
    margin-top: 25px;
}
.verified{
    margin-top: -5px;
    font-size: 15px;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

@media(min-width: 1440px){
    .container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 10%;
        grid-gap: 40px;
        background-image: url("/bg-pattern-top-desktop.svg"), url("/bg-pattern-bottom-desktop.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat;
    }

    .copyWriteUp{
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: left;
        font-size: 20px;
    }
    .h1WriteUp{
        margin-left: -2%;
        width: 60%;
        font-weight: 900;
    }

    .pWriteUp{
        margin-left: -1%;
    }

    .reviewStars{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 70%;
        /* padding-top: 5px;
        padding-bottom: 5px; */
        

    }

    .review1,
    .review2,
    .review3{
        display: grid;
        grid-template-columns: 35% 1fr;
        padding-top: 2%;
        /* padding-bottom: 2%; */
        
    }

    .review2{
        margin-left: 15%;
        margin-right: -15%;
    }

    .review3{
        margin-left: 30%;
        margin-right: -30%;
    }

    .rev1star{
        margin-bottom: auto;
        padding-left: 20%;
        margin-top: 13%;
    }

    .rev1h{
        margin: auto;
        padding-right: 10%;
        margin-top: 5%;
    }

    .writeUpReview{
        grid-row: 2/3;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wideColtReview{
        grid-column: 1/2;
    }
    .wideIreneReview{
        grid-column: 2/3;
        margin-left: 7%;
        
    }
    .wideAnneReview{
        grid-column: 3/4;
        margin-left: 7%;
        
    }

    .reviewImg{
        height: 20%;
        margin-top: 20%;
        margin-left: 25%;
    }



    .longReview{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .wideIreneReview{
        margin-bottom: -5%;
        margin-top: 5%;
    }

    .wideAnneReview{
        margin-bottom: -10%;
        margin-top: 10%;
    }
  
}

